# 4.7: Deriving New Variables

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Folder Path
path = r'C:\Users\Owner\Documents\Instacart Basket Analysis'

In [3]:
# Import orders_products__merged.plk
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Practice

In [4]:
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1

In [5]:
# Creating a subset
df = df_orders_products_merged[:1000000]

In [6]:
# Defining an if-statement function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_22584\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    659373
Low-range product    331283
High range             9344
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

24.5

# If-statements with the loc() function

In [10]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: price_range_loc, dtype: int64

# If-statements with For-Loops

In [17]:
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product

In [18]:
df_orders_products_merged['order_dow'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: order_dow, dtype: int64

In [19]:
result = []

In [21]:
for value in df_orders_products_merged['order_dow']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [22]:
df_orders_products_merged['busiest_day'] = result

In [23]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: busiest_day, dtype: int64

In [24]:
df_orders_products_merged.shape

(32434212, 16)

# Task 4.7

Q2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [26]:
df_orders_products_merged['order_dow'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: order_dow, dtype: int64

In [27]:
# Creating the vector where the outputs from the loop will be stored
result2 = []

In [29]:
# Creating the loop
for value in df_orders_products_merged['order_dow']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [30]:
# Create a new column in 'df_orders_products_merged' named busiest_days
df_orders_products_merged['busiest_days'] = result2

In [31]:
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly days
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly days
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Slowest days
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Slowest days

Q3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [32]:
# Checking value counts
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12927461
Busiest days      11875462
Slowest days       7631289
Name: busiest_days, dtype: int64

In [33]:
df_orders_products_merged.shape

(32434212, 17)

Q4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [35]:
# Creating a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [36]:
counts

    hour   counts
0     10  2764390
1     11  2738585
2     14  2691563
3     15  2664522
4     13  2663272
5     12  2620800
6     16  2537469
7      9  2456661
8     17  2089452
9      8  1719952
10    18  1637922
11    19  1259382
12    20   977017
13     7   891928
14    21   796362
15    22   634737
16    23   402612
17     6   290770
18     0   218942
19     1   115786
20     5    88057
21     2    69431
22     4    53283
23     3    51317

In [37]:
# Creating a list showing the percentiles for the value counts of the column 'order_hour_of_day'
orders = list(df_orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [38]:
orders

[272813.0, 1118199.5, 2558301.75]

### Grouping into Most orders, Average orders and Fewest orders, according to percentiles

Lists: I created three lists for the three different labels: “Most orders,” “Average orders,” and “Fewest orders"

In [42]:
# Fewest orders list
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [43]:
# Average orders list
ave_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [48]:
# Most orders list
most_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

Index: I created three indexs for the three different labels: “Most orders,” “Average orders,” and “Fewest orders"

In [45]:
index_few = df_orders_products_merged['order_hour_of_day'].isin(few)

In [46]:
index_ave_ords = df_orders_products_merged['order_hour_of_day'].isin(ave_ords)

In [49]:
index_most_ords = df_orders_products_merged['order_hour_of_day'].isin(most_ords)

Create a new column containing these labels called “busiest_period_of_day.”

In [50]:
df_orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [51]:
df_orders_products_merged.loc[index_ave_ords,'busiest_period_of_day'] = 'Average orders'

In [52]:
df_orders_products_merged.loc[index_most_ords,'busiest_period_of_day'] = 'Most orders'

In [53]:
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly days,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly days,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Slowest days,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Slowest days,Average orders

In [54]:
df_orders_products_merged.shape

(32434212, 18)

Q5. Print the frequency for this new column.

In [55]:
df_orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       16143132
Average orders    15694264
Fewest orders       596816
Name: busiest_period_of_day, dtype: int64

Q7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [56]:
# Export to PKL
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))