# 4.7: Deriving New Variables

In [30]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [23]:
# Folder Path
path = r'C:\Users\Owner\Documents\Instacart Basket Analysis'

In [24]:
# Import orders_products__merged.plk
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Practice

In [25]:
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1

In [26]:
# Creating a subset
df = df_orders_products_merged[:1000000]

In [27]:
# Defining an if-statement function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [28]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_23108\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [29]:
df['price_range'].value_counts(dropna = False)

Mid-range product    659373
Low-range product    331283
High range             9344
Name: price_range, dtype: int64